footer {
    width: 100%;
    height: 50px;
    background-color: $dark-blue;
    p {
        text-align: center;
        font-size: $subtitle-size;
        color: $white;
        margin: auto;
        padding-top: 17px;
    }
}